[submodule "Plugins/SU_geomagic"]
	path = Plugins/SU_geomagic
	url = https://gitlab.com/infinytech3d/SU_geomagic.git
[submodule "Plugins/SU_Reaction-diffusion"]
	path = Plugins/SU_Reaction-diffusion
	url = https://gitlab.com/infinytech3d/SU_Reaction-diffusion.git
