Core/Plugins/Native/x64/*.dll
Core/Plugins/Native/x64/*.meta
Core/Plugins/Native/x64/
License/SofaAPAPI-License.lic
License/SofaAPAPI-License.lic.meta
*.pyc
*.pyc.*
Core/Scripts/Editor/Tests/logs/
Tests/logs/
