Library/
ProjectSettings/
Temp/
Assets/Plugins/Native/x64/
Assets/Plugins/libraryTest1/libraryTest1/x64/
Assets/Plugins/libraryTest1/ipch/
Assets/Plugins/SofaUnity/Native/x64/
.vs/SofaUnity/v14/.suo
Assets/OculusPlatform/
Assets/OSPNative/
Assets/OVR/
Assets/OVRAudioManager/
Assets/OvrAvatar/
Assets/SteamVR/
Assets/VRTK/
Assets/SofaUnity/Plugins/SofaUnity/Native/x64/
Assets/SofaUnity/Plugins/Native/x64/
Assets/Fluvio Examples/
Assets/Fluvio Shared/
Assets/Fluvio/
Assets/TwinMedical/
