[submodule "Plugins/SU_Reaction-diffusion"]
	path = Plugins/SU_Reaction-diffusion
	url = https://gitlab.com/infinytech3d/SU_Reaction-diffusion.git
[submodule "Plugins/SU_Surgery"]
	path = Plugins/SU_Surgery
	url = https://gitlab.com/infinytech3d/SU_Surgery.git
[submodule "Plugins/SU_Geomagic"]
	path = Plugins/SU_Geomagic
	url = https://gitlab.com/infinytech3d/SU_Geomagic.git
[submodule "Plugins/SU_VR-SurgicalRoom"]
	path = Plugins/SU_VR-SurgicalRoom
	url = https://gitlab.com/infinytech3d/SU_VR-SurgicalRoom.git
[submodule "Plugins/SU_BeamAdapter"]
	path = Plugins/SU_BeamAdapter
	url = https://gitlab.com/infinytech3d/SU_BeamAdapter.git
