Core/Plugins/Native/x64/*.dll
Core/Plugins/Native/x64/*.meta
Core/Plugins/Native/x64/
License/*
*.pyc
*.pyc.*
Core/Scripts/Editor/Tests/logs/
Tests/logs/
Core/Scripts/UI/DataManager/DynamicDataSaves/*.JSON
Core/Scripts/UI/DataManager/DynamicDataSaves/*.meta